<header class="site-header">

  <div class="wrapper">
      <div class="site-social">
        <span class="header-name"><a href="/">Robert <b>Kosara</b></a></span>
        <span class="contacticon-small left">
          <!-- <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-square"></i></a> -->
          <a href="https://scholar.google.com/citations?userid={{ site.scholar_userid }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar-square"></i></a>
          <a href="https://www.github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fa fa-github-square"></i></a>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
        </span>
      </div>
    <nav class="site-nav">

      <div class="trigger">
        <!-- About -->
        <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/">about</a>
    
        <!-- Pages -->
        {% for page in site.pages %}
          {% if page.title and page.url != "/" and page.collection != "hidden" %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
